@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.centralizar {
  height: 100vh;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(midia/img-avenida.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.principal #cep {
  padding: 5px 10px;
}

.programa {
  background-color: rgba(0, 0, 0, 0.7);
  border: 2px solid black;
  width: 450px;
  min-height: 60;
  padding: 30px 0;
  border-radius: 20px;
  color: white;
}

.principal {
  margin-top: 30px;
}

button {
  padding: 0 10px;
}

.retorno {
  width: 300px;
  background-color: white;
  min-height: 100px;
  margin: 50px auto;
  border-radius: 10px;
  padding: 10px;
  text-align: left;
  color: black;
  line-height: 1.5;
}

.rodape a {
  color: lightgray;
  font-size: 12px;
  text-decoration: none;
}

@media screen and (max-width: 500px) {
  .programa {
    width: 350px;
  }

  .retorno {
    width: 250px;
  }
}